.form_title{
    text-align: center;
}
.display_flex{
    display: flex;
    align-items: center;
}
.padding-5px{
    padding: 5px;
}
.label-form{
    background-color: #5084a0;
    color: wheat;

}
.input-form{
    background-color: azure;

}
.error_message{
    color: red;
}